# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# =========================
# DATABASE / FLASK
# =========================
instance/
*.db
*.sqlite3

# =========================
# MIGRATIONS (ignorar cache apenas)
# =========================
migrations/__pycache__/
migrations/versions/__pycache__/

# =========================
# ENV
# =========================
.env
.env.*
.env.development
.env.production

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# PLAYWRIGHT
# =========================
node_modules/
playwright-report/
test-results/
tests/.runtime/
.playwright/

# =========================
# BUILD / BINÁRIOS
# =========================
*.bin
*.exe
*.dll
*.so
*.dylib
*.class
*.o
*.a

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# TESTES / CACHE
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP
# =========================
*.tmp
*.bak
*.swp