__pycache__/
*.pyc
instance/
instance/gestor_lectivo.db
instance/backups/
*.db
migrations/__pycache__/
migrations/versions/__pycache__/
gestor_lectivo.db
*.bin
*.exe
*.dll
*.so
*.dylib
*.class
*.o
*.a
